{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('EcoMove Admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin_connect:admin_dashboard' %}">
        EcoMove Admin
    </a>
</h1>
{% endblock %}


{% block nav-breadcrumbs %}

{% endblock %}


{% block nav-global %}
<div style="margin-top: 20px; margin-bottom: 10px;">
    <a href="{% url 'admin_connect:admin_dashboard' %}" style="margin-right: 15px; color: white;">Dashboard</a>
    <a href="{% url 'admin_connect:gestionar_usuarios' %}" style="margin-right: 15px; color: white;">Usuarios</a>
    <a href="{% url 'admin_connect:sincronizar_refugios' %}" style="margin-right: 15px; color: white;">Refugios</a>
    <a href="{% url 'admin_connect:gestionar_puntos' %}" style="margin-right: 15px; color: white;">Puntos de Carga</a>
    <a href="{% url 'admin_connect:estadisticas_estaciones' %}" style="color: white;">Estadísticas</a>
</div>
{% endblock %}